* {
    margin: 0px ;
    padding: 0px ;
}

.container {
    display: flex ;
    background: rgb(15, 15, 0) ;
    height: 200px ;
    width: 500px ;
    flex-direction: column ;
}

.box_1 {
    background: rgb(81, 255, 0) ;
    flex: 1 ;
}

.box_2 {
    background: rosybrown ;
    flex: 1 ;
}

.box_3 {
    background: royalblue;
    flex: 1 ;
}

.box_4 {
    background: red;
    flex: 1;
}